body {
    font-family: 'Jost', sans-serif;
}

.main-background {
    background-color: #e9edf4;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.nav-item:hover .nav-link {
    color: #0a58ca;
}

.main-title {
    font-size: 72px;
    font-weight: 500;
}

.main-subtitle {
    font-size: 24px;
    color: #7153d9;
    font-weight: 500;
}

.main-p {
    font-size: 24px;
    color: #54545f;
    font-weight: 400;
}

.main-btn {
    background: linear-gradient(135deg, #4526b1 0%, #5435be 45%, #7153d9 66%);
    padding: 20px 45px;
    text-decoration: none;
    color: white;
    border-radius: 40px;
}

.mybackground {
    background: #E9EDF3 !important;
  }

.mybackground.scrolled {
    background: white !important;
}

.feature-icon {
    background-color: #e9edf4;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 95px;
}